[Desktop Entry]
Version=5.0.1
Encoding=UTF-8
Exec=/home/osboxes/Desktop/ParaView-5.0.1-Qt4-OpenGL2-MPI-Linux-64bit/bin/paraview --mesa-llvm
Icon=/home/osboxes/Desktop/ParaView-5.0.1-Qt4-OpenGL2-MPI-Linux-64bit/share/icons/hicolor/96x96/apps/paraview.png
Type=Application
Terminal=false
Comment=Parallel visualization application
Name=ParaView 5.0.1
GenericName=paraview-5.0.1
StartupNotify=false
Categories=Education;
